@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body {
  min-height: 100vh;
  background: #4baea0;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  font-size: 13px;
  margin: auto;
}

#app {
  max-width: 360px;
  margin: auto;
  padding: 20px;
}

.icon {
  vertical-align: middle;
  margin: auto 3px;
}

button {
  background: none;
  border: none;
  color: inherit;
  font-family: inherit;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
  transition: 0.4s;
}

a:hover,
button:hover {
  color: #f1f0cf;
}

.page-container {
  min-height: calc(100vh - 155px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

.sm-text {
  font-size: 11px;
}

.col {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

.align-right {
  text-align: right;
}

.green {
  color: #b6e6bd;
}

.half-transparent {
  opacity: 60%;
}

.v-enter-active,
.v-leave-active {
  transition: opacity 0.5s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}
